

<% form_for @user do |f| %>
  <%= f.error_messages %>
  
  <div class="form-block">
    <h1>Nuevo usuario</h1>
    <%= render :partial => "form", :object => f %>
    <%= f.submit "Registrarse" %>
  </div>
  
  
<% end %>